@model Pointofissue

@{
    ViewData["Title"] = "Delete";
}


<h3>Вы действительно хотите удалить место доставки?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Адрес
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Pointid" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
