@model IEnumerable<Storage>

@{
    ViewData["Title"] = "Index";
}

<h1>Склады</h1>

<p>
    <a asp-action="Create">Добавить новый</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Адрес
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Storageid">Изменить</a> |
                <a asp-action="Details" asp-route-id="@item.Storageid">Детали</a> |
                <a asp-action="Delete" asp-route-id="@item.Storageid">Удалить</a>
            </td>
        </tr>
}
    </tbody>
</table>
