@model Product

@{
    ViewData["Title"] = "Edit";
}

<h1>Изменить</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Productid" />
            <div class="form-group">
                <label asp-for="Name" class="control-label">Наименование</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brandid" class="control-label">Бренд</label>
                <select asp-for="Brandid" class="form-control" asp-items="ViewBag.Brandid"></select>
                <span asp-validation-for="Brandid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genreid" class="control-label">Жанр</label>
                <select asp-for="Genreid" class="form-control" asp-items="ViewBag.Genreid"></select>
                <span asp-validation-for="Genreid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Manufacturerid" class="control-label">Производитель</label>
                <select asp-for="Manufacturerid" class="form-control" asp-items="ViewBag.Manufacturerid"></select>
                <span asp-validation-for="Manufacturerid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cost" class="control-label">Цена</label>
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label">Возраст</label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reservation" class="control-label">Зарезервировано</label>
                <input asp-for="Reservation" class="form-control" />
                <span asp-validation-for="Reservation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Score" class="control-label">Оценка</label>
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Image" />
            <div class="form-group">
                <h1></h1>
                <dl class="row">
                    <dt class="col-3">
                        <img src="@Model.Image" width="100" height="100" />
                    </dt>
                    <dd class="col-9">
                            <label asp-for="Image" class="control-label">Изображение</label>
                            <input type="file" name="Image" class="form-control" />
                            <span asp-validation-for="Image" class="text-danger"></span>
                    </dd>
                </dl>
            </div>
            <h1></h1>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

